body
{
    background-color : rgb(204, 204, 255);
}

header
{
    height : 75px;
    border-style : solid;
    border-color : rgb(0, 51, 102);
    border-width : thin;
    background-color : rgb(0, 51, 102);
    text-align : center;
    margin-top :
}

h1
{
    font-size : 30px;
    color : white;
}

p
{
    font-size : 18px;
}

article
{
    text-align : justify;
    border-style : solid;
    border-color : white;
    border-width : thin;
    background-color: white;
    width : 60%;
    margin : auto;
    padding-left : 10px;
    padding-right : 10px;
}

.article_sommaire
{
    display : flex;
}

.sommaire
{
    border-style : solid;
    border-color : black;
}
    
